body           { background: #333; color: #FFF; font-family: 'Montserrat', sans-serif; }
h1             { text-align: center; display: none; }
#streetview    { text-align: center; width: 650px; margin-left: 20%; position: relative; }
#heart         { position: absolute; top: -5px; left: -15px; }
#heartbeat     { position: absolute; top: 10px; left: -15px; width:100px; text-align:center; font-size: 32pt; }
#imgContainer  { height: 450px; overflow: hidden; }
#street        { margin-top: 0px; }
#info          { position: absolute; line-height:13px; width: 80px; font-size: 12px; top: 90px; left: -40px; text-align: left; padding: 0.5em; background-color: rgba(50, 50, 50, 0.5); border: Solid 2px rgba(255,255,255,.5); }
#time          { font-family: "Inconsolata", monospace; background-color: rgba(22, 22, 22, 0.5); border: Solid 1px #FFF; border-top: 0; padding: 0.1em 0.2em; }
#distance      { font-family: "Inconsolata", monospace; position: absolute; top: 5px; right: 20px; border: Solid 1px #FFF; background-color: rgba(200, 200, 200, 0.5); text-align: left; font-size: 18pt; padding: .1em .2em; }
.center1       { position: absolute; left:  50%; top: 0; }
.center2       { position: relative; left: -50%; }
#controls      { position: absolute; bottom: 20px; right: 200px; }
#map           { position: absolute; top: 50px; right: -120px; width: 250px;height: 175px; border: Solid 2px rgba(255,255,255,.5);}

dl { width:100%; margin:0; padding:0; overflow:hidden; }
dt { float:left; width:50%; text-decoration: underline; }
dd { float:left; margin:0; padding:0; width:50%; }
